<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="wifi" href="/home/wifi">
      <ion-icon  *ngIf="conn; else elseBlock" aria-hidden="true" name="wifi-sharp"></ion-icon>
      <ng-template #elseBlock>
        <ion-icon name="alert-sharp"></ion-icon>      
      </ng-template>
      <ion-label>{{connectionType | uppercase}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lte" href="/home/lte">
      <ion-icon aria-hidden="true" name="cellular-sharp"></ion-icon>
      <ion-label>LTE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noise" href="/home/noise">
      <ion-icon aria-hidden="true" name="mic-sharp"></ion-icon>
      <ion-label>NOISE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
